<app-header></app-header>

<div>
    <img src="../../../assets/about.jpeg">

    <p>
        La société NEGOSUD est un négociant en vins situé en Gascogne. 
        <br><br>
        M. CLAIN, œnologue de métier, de par ses relations avec des domaines viticoles, a décidé d’ouvrir un entrepôt pour favoriser la découverte et la vente des produits du terroir, dans un lieu fortement touristique, en complément de ces domaines qui vendent déjà sur leurs propriétés. <br>
        En accord, avec ses partenaires (Les domaines de Tariquet, Pelleheaut, Joy, Vignoble Fontan et Uby), il propose la dégustation et la vente de l’ensemble de leurs produits. <br>
        L’entrepôt dispose d’un PC Windows et le gérant souhaite gérer le stock des produits qu’il propose. La société NEGOSUD a contacté VINSOFT pour réaliser son projet. 
    </p>
</div>


<app-footer></app-footer>
