<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NEGOSUD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/shop']">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
        <ul id="logo">
            <li><a [routerLink]="['/connexion']"><i class="uil uil-user"></i></a></li>
            <li><a [routerLink]="['/panier']"><i class="uil uil-shopping-cart"></i></a></li>
        </ul>
      </div>
    </div>
</nav>

<!--<header>
    <h1>NEGOSUD</h1>
    
    <nav id="nav">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
        <ul class="menu">
            <li><a [routerLink]="['/']">Accueil</a></li>
            <li><a [routerLink]="['/shop']">Shop</a></li>
            <li><a [routerLink]="['/about']">À propos</a></li>
            <li><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
    </nav>
    <ul id="logo">
        <li><a [routerLink]="['/connexion']"><i class="uil uil-user"></i></a></li>
        <li><a [routerLink]="['/panier']"><i class="uil uil-shopping-cart"></i></a></li>
    </ul>
</header>-->
