#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

fieldset {
    padding: 36px;
    margin: 60px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: gainsboro;
}

input {
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
}

textarea {
    margin-left: 10px;
    margin-bottom: 30px;
}

iframe {
    height:200px;
}

h3 {
    margin-top:60px;
}