footer {
    background-color: black;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer p{
    text-align: center;
    margin-top: 30px;
    color: white;
}

#footer a {
    color:white;
}