<footer>
    <div id="footer">
        <p>
          INFOS PRATIQUES
          <br><br>
          0556565656
          <br>
          <a href="http://www.negosud.fr">www.negosud.fr</a>
          <br>
          <a href="mailto:contact@negosud.fr">contact@negosud.fr</a>
          <br>
        </p>
        <p>
          NEGOSUD
          <br><br>
          <a [routerLink]="['/conditionsgénérales']">Conditions générales</a>
          <br><br>
          <a [routerLink]="['/mentionslégales']">Mentions légales</a>
          <br><br>
          <a [routerLink]="['/politiquesconfidentialités']">Politiques de confidentialités</a>
        </p>
    </div>
    <hr style="color:white">
    <div class="text-center p-3" style="color: white;">
      © 2023 Copyright - Tous droits réservés
    </div>
</footer>