<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

<header>
    <h1>NEGOSUD</h1>
    <nav id="nav">
        <ul>
            <li routerLinkActive="active"><a [routerLink]="['/']">Accueil</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/shop']">Shop</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/about']">À propos</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
    </nav>
    <ul id="logo">
        <li><a [routerLink]="['/connexion']"><i class="uil uil-user"></i></a></li>
        <li><a [routerLink]="['/panier']"><i class="uil uil-shopping-cart"></i></a></li>
    </ul>
</header>
