img {
    width:50px;
}

section {
    margin: 40px;
}

h1 {
    margin-bottom: 20px;
}

h3 {
    margin: 40px 0;
}

input {
    width:200px;
    margin: 20px 80px;
}

form {
    margin-bottom: 40px;
}

table {
    margin-bottom: 40px;
}

#paiement input {
    margin: 0px 10px;
}

button {
    width: 200px;
    height: 50px;
    background-color: gainsboro;
}