<app-header></app-header>

<div id="conditions">

<h1>Conditions générales</h1>
<p>
Tout acheteur effectuant un achat dans notre magasin, à titre privé ou professionnel, déclare être âgée de 18 ans et avoir la capacité juridique ou à défaut une autorisation parentale lui permettant de la contracter.
<br><br>
Dans le cas où ces conditions n’auraient pas été respectées conformément à ce qui est indiqué dans le présent contrat et afin de résoudre un éventuel litige, nous nous réservons le droit de nous adresser directement au tuteur ou curateur légal de cette personne. Nous serons par conséquent notamment autorisés à exiger de lui le règlement de toutes les commandes qu’elle aura contractées.
<br><br>
Il suffit pour l’acheteur de cliquer sur « Conditions d’utilisation » (ci-après désignées C.U.) pour connaître les conditions de son achat, avant même qu’il ait entamé le processus de commande. En conséquence, le fait de passer commande implique l’adhésion entière et sans réserve de l’acheteur à ces C.U. À défaut de stipulations particulières et convenues par écrit entre les parties, toutes les commandes sont soumises de plein droit aux présentes conditions générales de vente, qui prévalent sur tout autre document, tels que prospectus, presse, catalogues ou e-mailing émis par le vendeur, qui n’ont qu’une valeur indicative.
<br><br>
Toutes les clauses des présentes Conditions d’utilisation, toutes les transactions et opérations d’achat effectuées depuis le site de www.negosud.fr ainsi que par courrier et par téléphone sont régies par le Droit et la loi Française.
<br><br>
Tout litige qui n’aura pas trouvé d’accord à l’amiable sera du ressort des Tribunaux.
<br><br>
</p>

<h5>LES PRIX</h5>
<p>
Les prix indiqués dans le shop sont exprimés en Euro, sont tous hors taxes. Les prix indiqués dans le panier sont exprimés en Euro, sont tous taxes comprises. Ils comprennent notamment la TVA applicable, les accises et toutes autres taxes applicables. Sauf vente et sans engagement, sous réserve d’erreur typographique et d’affichage.
</p>
<br><br>

<h5>ZONES DE LIVRAISON</h5>
<p>
Les produits disponibles sur le site de e-commerce ne peuvent être livrés qu’en France Métropolitaine.
</p>
<br><br>

<h5>MODALITÉS ET MOYENS DE PAIEMENT SECURISÉ</h5>
<p>
Les modes de paiement proposés lors de la validation finale des commandes sont : la carte bleue nationale, la carte Visa, la Mastercard et l’e-carte bancaire. Le client reconnaît explicitement disposer des droits d’utilisation du mode de paiement qu’il a sélectionné.
<br><br>
Lors d’un paiement en ligne, le montant de la commande sera débité au moment de la validation de la commande.
</p>
<br><br>

<h5>RÉSERVE DE PROPRIÉTÉ</h5>
<p>
Les articles qui vous auront été vendus demeurent notre propriété aussi longtemps que vous ne vous serez pas acquitté de vos obligations à notre encontre et notamment du montant global de la facture correspondant à la commande que vous aurez contractée sur notre site.
<br><br>
La responsabilité des risques de perte ou de destruction de ces articles vous incombe cependant dès leur livraison, et cela même si vous n’en êtes pas encore le propriétaire pour ne vous être pas encore acquitté de leur règlement.
<br><br>
Dans le cas d’un retard de paiement, conformément aux indications de délais clairement spécifiées sur votre facture jointe aux articles commandés lors de leur livraison, de leur non-paiement en dépit de relance [s] et dans le cas où aucune conciliation n’aurait pu être trouvée, nous nous réservons le droit d’exiger de vous que ces articles nous soient expressément retournés à vos frais.
</p>
<br><br>

<h5>DROIT DE RÉTRACTATION</h5>
<p>
Vous avez le droit de vous rétracter du présent contrat sans donner de motif dans un délai de quatorze jours. Le délai de rétractation expire quatorze jours après le jour où vous-même, ou un tiers autre que le transporteur et désigné par vous, prend physiquement possession du dernier bien. Pour exercer le droit de rétractation, vous devez nous notifier votre décision de rétractation du présent contrat au moyen d’une déclaration dénuée d’ambiguïté (courrier électronique) par mail à contact@negosud.com.
</p>
<br><br>

<h5>FORMULAIRE DE RÉTRACTATION</h5>
<p>
Vous pouvez utiliser le modèle de formulaire de rétractation mais ce n’est pas obligatoire. (Veuillez compléter et renvoyer le présent formulaire uniquement si vous souhaitez vous rétracter du contrat.)
<br><br>
– À l’attention de – Je / Nous (*) vous notifie / notifions (*) par la présente ma / notre (*) rétractation du contrat
portant ci-dessous
<br>
– Commandé le (*) / reçu le (*)
<br>
– Nom du (des) consommateur(s)
<br>
– Adresse du (des) consommateur(s)
<br>
– Signature du (des) consommateur(s) (uniquement en cas de notification du présent formulaire sur papier)
<br>
– Date
<br>
(*) Biffez la mention inutile.
<br><br>
Vous pouvez utiliser le modèle de formulaire de rétractation mais ce n’est pas obligatoire. Pour que le délai de rétractation soit respecté, il suffit que vous transmettiez votre communication relative à l’exercice du droit de rétractation avant l’expiration du délai de rétractation. Vous devrez renvoyer ou rendre le bien, à NEGOSUD, 48 rue Gambetta, 33000 Auch, sans retard excessif et, en tout état de cause, au plus tard quatorze jours après que vous nous aurez communiqué votre décision de rétractation du présent contrat.
Ce délai est réputé respecté si vous renvoyez le bien avant l’expiration du délai de quatorze jours. Vous devrez prendre en charge les frais directs de renvoi du bien.
</p>
<br><br>

<h5>EFFETS DE LA RÉTRACTATION</h5>
<p>
En cas de rétractation de votre part du présent contrat, nous vous rembourserons tous les paiements reçus de vous, y compris les frais de livraison (à l’exception des frais supplémentaires découlant du fait que vous avez choisi, le cas échéant, un mode de livraison autre que le mode moins coûteux de livraison standard proposé par nous) sans retard excessif et, en tout état de cause, au plus tard quatorze jours à compter du jour où nous sommes informés de votre décision de rétractation du présent contrat. Nous procéderons au remboursement en utilisant le même moyen de paiement que celui que vous aurez utilisé pour la transaction initiale, sauf si vous convenez expressément d’un moyen différent; en tout état de cause, ce remboursement n’occasionnera pas de frais pour vous. Nous pouvons différer le remboursement jusqu’à ce que nous ayons reçu le bien ou jusqu’à ce que vous ayez fourni une preuve d’expédition du bien, la date retenue étant celle du premier de ces faits.
</p>
<br><br>

<h5>EXCEPTION AU DROIT DE RÉTRACTATION</h5>
<p>
L’exercice du droit de rétractation est exclu pour les contrats suivants :
<br>
– les contrats de fourniture de biens susceptibles de se détériorer ou de se périmer rapidement ;
<br>
– les contrats de fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d’hygiène ou de protection de la santé ;
<br>
– les fourniture de biens qui, après avoir été livrés, et de par leur nature, sont mélangés de manière indissociable avec d’autres articles ;
<br>
– les contrats de fourniture de boissons alcoolisées dont la livraison est différée au-delà de trente jours et dont la valeur convenue à la conclusion du contrat dépend de fluctuations sur le marché échappant au contrôle du professionnel ;
</p>
<br><br>

<h5>LICENCE D’ACCÈS AU SITE</h5>
<p>
Vous êtes autorisé à accéder et à utiliser notre site aux seules fins personnelles et ne pouvez en aucun cas, sauf accord écrit et express de notre part et sous peine de poursuite, l’utiliser ainsi que l’ensemble de son contenu à des fins commerciales ou pour toute autre activité susceptible de nous être dommageable.
</p>
<br><br>

<h5>DROIT APPLICABLE</h5>
<p>
Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que dans toutes les opérations d’achat et de vente qui y sont visées, sont soumises au droit Français.
</p>
<br><br>

<h5>LA RESPONSABILITÉ</h5>
<p>
Nous nous engageons à mettre tout en œuvre pour vous assurer la meilleure qualité de service possible conformément au travail effectué par l’ensemble du personnel de nos fournisseurs. Cependant, nous ne pourrons être tenus pour responsables de tout retard dans la livraison des articles commandés et notamment dans le cas de rupture de stock.
<br><br>
Malgré notre vigilance et l’ensemble des précautions que nous avons prises auprès des partenaires avec lesquels nous travaillons pour vous permettre de profiter des services que nous vous offrons, nous ne garantissons pas l’absence de toute perturbation dans le fonctionnement du site et de ses diverses parties.
</p>
<br><br>

<h5>EN CONSÉQUENCE</h5>
<p>
Nous déclinons toute responsabilité pour les dommages directs ou indirects qui pourraient résulter de l’accès ou de l’utilisation du site ou de certains de ses éléments, de même que nous déclinons toute responsabilité pouvant résulter de l’impossibilité d’y accéder ou de l’utiliser.
<br><br>
De même, nous déclinons toute responsabilité pour tous risques liés à l’installation de logiciels pouvant permettre la consultation du site ou pour tous dommages résultant d’erreurs de transmission, de défauts techniques, de surcharges ou d’interruptions des communications. Vous êtes par ailleurs seul responsable quant à la commande d’un article qui ne respecterait pas la législation du pays de livraison ou ferait l’objet d’une interdiction sur son territoire, et à ce titre nous ne saurions être tenus d’en assumer les responsabilités.
</p>
<br><br>

<h5>LA RESPONSABILITÉ</h5>
<p>
Les informations sur les produits présentés à la vente sur le site www.negosud.fr ont été saisies d’après les informations transmises par les domaines fournisseurs. www.negosud.fr ne pourrait être tenu pour responsable dans le cas où des erreurs auraient malencontreusement été saisies.
<br><br>
www.negosud.fr a une obligation de moyen, cependant sa responsabilité ne pourra être engagée en cas de manquement de l’une de ses obligations dû à des faits indépendants de sa volonté (grèves, catastrophes, pannes informatiques ou matérielles, problèmes de connexion à Internet, etc.).
</p>
<br><br>

<h5>ACCEPTATION DE L’ACHETEUR</h5>
<p>
Les présentes Conditions d’utilisation ainsi que les prix des produits vendus sur le site sont expressément acceptés par le membre, qui déclare et reconnaît en avoir pris connaissance, et de ce fait le membre renonce à se prévaloir de tout document contradictoire, notamment, ses propres conditions générales d’achat.
<br><br>
L’acte d’achat entraîne l’acceptation des présentes Conditions d’utilisation.
</p>

</div>

<app-footer></app-footer>
