<app-header></app-header>

<div id="mention">

<h1>Informations légales</h1>
<p>
En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site https://www.negosud.fr (ci-après « le Site »), l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
</p>
<br><br>

<h5>— Coordonnées de l’éditeur du Site : </h5>
<p>
La société NEGOSUD
Société par Actions Simplifiées au capital de 92 710 euros,
Siège social : 48, rue Gambetta, 32000 Auch
Immatriculée au RCS de Paris sous le numéro 754 098 218
N° de TVA Intracommunautaire : FR41 754 098 218
Email : contact@negosud.fr
</p>
<br><br>

<h5>— Directeur de la publication :</h5>
<p>
Alexandre Clain
</p>
<br><br>

<h5>— Illustrations :</h5>
<p>
Maëlle Akpweh
<p>
<br><br>

<h5>— Le Site est hébergé par : HEROKU</h5>
<p>
Société par Actions Simplifiée au capital de 2.300.000 € <br>
Dont le siège social est situé : 415 Mission Street, Suite 300, San Francisco, CA 94105 <br>
Immatriculée au RCS de Paris B 483 993 226 <br>
Numéro de TVA Intracommunautaire : FR76483993226 <br>
Numéro de téléphone : +33 1 72 10 94 00 <br>
</p>
<br><br>

<p>
Les données de NEGOSUD sont hébergés sur des serveurs en France.
</p>
</div>

<app-footer></app-footer>
